@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: '__Jost_5b6c7b', '__Jost_Fallback_5b6c7b', "arial";
}

* {
  padding: 0; 
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  min-height: max-content;
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



input,
button,
textarea {
  font-family: var(--font-family);
}


input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@keyframes rotaite {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@layer utilities {
  .not_last_element:not(:last-child) {
    margin-bottom: 10px;
  }

  .main-wrapper {
    height: calc(100% - 57.3px);
  }

  .main_container {
    min-height: calc(100% - 150px);
  }

}
@layer components {
  .icon {
    @apply w-[60px] shrink-0 rounded-[20px] bg-white text-center leading-[60px];
  }

  .nav-cart-btn {
    @apply mt-5 box-border h-[36px] w-[130px] rounded-[10px] bg-white text-center text-xs font-medium text-peach hover:bg-pale_peach
  }
  .nav-cart-btn.active {
    @apply bg-peach text-white
    
  }

  .flex-wrapper {
    @apply flex items-center justify-center;
  }

  .arrow-left {
    @apply bg-arrow_left_red  hover:bg-arrow_left_wh;
    background-repeat: no-repeat;
    background-position: center;
  }

  .user_trigger {
    width: 33.8%;
    block-size: fit-content;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .user_trigger:nth-child(1) {
    border-radius: 20px 0 0 20px;
  }
  .user_trigger:nth-child(3) {
    border-radius:  0 20px  20px 0;
  }

  .user_trigger:nth-child(-1n + 2) {
    border-right: 7px solid white;
  }
  
  .background_default {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 20px;
    height: 17.333px;
  }

  .favorite_icon {
    @apply background_default bg-red_small_heart;
  }
  .like_icon {
    @apply background_default bg-green_smile;
  }
  .dislike_icon {
    @apply background_default bg-yellow_dislike;
  }

  .select_after::after {
    position: relative;
    top: 0;
    right: 10px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/assets/breeds/arrow_grey_down.svg") center/contain no-repeat ;
    z-index: 22;
    transition: .5s 0 ease ;
    cursor:pointer;
    pointer-events: none;
  }

  .select_breeds::after {
    position: relative;
    top: 0;
    right: 24px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("/assets/breeds/arrow_grey_down.svg") center/contain no-repeat ;
    z-index: 22;
    transition: .5s 0 ease ;
    cursor:pointer;
    pointer-events: none;
  }

  .sort_active {
    @apply !outline !outline-2 !outline-pale_peach !rounded-[10px] 
  }


  .loading-img::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 30px;
    top: 30%;
    width: 17px;
    height: 17px;
    background: url("/assets/gallery/loading.png") center/cover no-repeat;
    animation: rotaite .7s ease infinite ;
  }
}
